body {
  margin: 0;
  padding: 0;
  font-family: var(--font-poppins), 'Inter', Arial, sans-serif;
  /* font smoothing */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* box sizing */
  box-sizing: border-box;
}

*,
*::before,
*::after {
  /* box sizing inherit from body */
  box-sizing: inherit;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Scrollbar background */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}